#u691-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u726-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u130-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u821-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u814-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3377-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u800-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u116-20,#u748-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u782-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u790-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u2714-4
{
	font-family: ubuntu-n5, sans-serif;
}

