#u691-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u726-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u130-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u821-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u814-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3377-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u800-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u116-20,#u748-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u782-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u790-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u1217-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2007-2,#u2007-4,#u2007-6,#u2007-7,#u2007-8,#u2007-12,#u2007-13,#u2007-18
{
	font-family: ubuntu-n3, sans-serif;
}

