#u691-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u726-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u130-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u821-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u814-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3377-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u800-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u116-20,#u748-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u782-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u790-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u611-4,#u736-4,#u733-4,#u1062-6
{
	font-family: abel-n4, sans-serif;
}

#u3514-6
{
	font-family: abel-n4, sans-serif;
}

#u997-4
{
	font-family: abel-n4, sans-serif;
}

#u729-4,#u737-4,#u732-4,#u1171-33
{
	font-family: ubuntu-n4, sans-serif;
}

