#u691-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u726-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u130-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u821-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u814-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3377-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u800-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u116-20,#u748-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u782-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u790-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3215-4,#u3202-4,#u3219-4,#u3216-4,#u3217-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3212-5,#u3212-8,#u3209-5,#u3209-8,#u3204-5,#u3207-8
{
	font-family: abel-n4, sans-serif;
}

#u3212-2,#u3212-3,#u3212-6,#u3206-8,#u3203-10,#u3209-2,#u3209-3,#u3209-6,#u3220-8,#u3210-4,#u3204-2,#u3204-3,#u3214-8,#u3205-4,#u3207,#u3207-4,#u3218-8,#u3208-4
{
	font-family: ubuntu-n4, sans-serif;
}

