.version.index /* version checker */
{
	color: #00000F;
	background-color: #D70BAA;
}

.html
{
	background: #FFFFFF url("../images/bg_body.png") repeat left top scroll;
}

#page
{/*
	z-index: 1;
	width: 920px;
	min-height: 1504px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color:  rgb(255, 253, 248);
	padding-left: 20px;
	padding-top: 4px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;*/

	z-index: 1;
	width: 920px;
	min-height: 802.9500000000004px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color:  rgb(255, 253, 248);
	padding-bottom: 0px;
	padding-left: 88px;
	padding-top: 4px;
	padding-right: 88px;
	margin-left: auto;
	margin-right: auto;
}

/*#u1008-4
{
	z-index: 94;
	width: 167px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 929px;
}

#u1008-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 167px;
	margin: 0px 0px 0px 753px;
}*/

#pu3757
{
	width: 0.01px;
	margin-top: -5px;
}

#u3757
{
	z-index: 90;
	/*width: 318px;*/
	height: 104px;
	margin-right: -10000px;
	/*left:323px;*/
}

/*#u3757:hover
{
	width: 450px;
	height: 104px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}*/

#u3757:active
{
	/*width: 318px;
	height: 104px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;*/

	
}


/*#menuu686
{
	z-index: 75;
	width: 161px;
	margin-right: -10000px;
	margin-top: 20px;
}*/

#u687
{
	width: 48px;
	min-height: 25px;
	margin-right: -10000px;
}

#u688
{
	width: 48px;
	padding-bottom: 11px;
}

#u688:hover
{
	width: 48px;
	min-height: 0px;
	margin: 0px;
}

#u688:active
{
	width: 48px;
	min-height: 0px;
	margin: 0px;
}

#u688.MuseMenuActive
{
	width: 48px;
	min-height: 0px;
	margin: 0px;
}

#u691-4
{
	width: 37px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 5px;
}

#u688:hover #u691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u688:active #u691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u688.MuseMenuActive #u691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

/*#u722
{
	width: 94px;
	min-height: 25px;
	margin-right: -10000px;
	left: 50px;
}*/

#u723
{
	width: 94px;
	padding-bottom: 11px;
}

#u723:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u723:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u723.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u726-4
{
	width: 83px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 5px;
}

#u723:hover #u726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u723:active #u726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

/*#u723.MuseMenuActive #u726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}*/

/*#menuu125
{
	z-index: 23;
	width: 920px;
}

#u126
{
	width: 160px;
	min-height: 42px;
	margin-right: -10000px;
}

#u127
{
	width: 160px;
	padding-bottom: 25px;
}

#u127:hover
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u127:active
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u127.MuseMenuActive
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u130-4
{
	width: 44px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 58px;
}

#u127:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u127:active #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u127.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u815
{
	width: 208px;
	min-height: 42px;
	margin-right: -10000px;
	left: 162px;
}

#u818
{
	width: 208px;
	padding-bottom: 25px;
}

#u818:hover
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u818:active
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u818.MuseMenuActive
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u821-4
{
	width: 92px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 58px;
}

#u818:hover #u821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u818:active #u821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u818.MuseMenuActive #u821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 197px;
	min-height: 42px;
	margin-right: -10000px;
	left: 372px;
}

#u811
{
	width: 197px;
	padding-bottom: 25px;
}

#u811:hover
{
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u811:active
{
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u811.MuseMenuActive
{
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u814-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 57px;
}

#u811:hover #u814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u811:active #u814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u811.MuseMenuActive #u814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u3373
{
	width: 165px;
	min-height: 42px;
	margin-right: -10000px;
	left: 571px;
}

#u3374
{
	width: 165px;
	padding-bottom: 25px;
}

#u3374:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u3374:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u3374.MuseMenuActive
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u3377-4
{
	width: 50px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 57px;
}

#u3374:hover #u3377-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3374:active #u3377-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3374.MuseMenuActive #u3377-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u794
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 738px;
}

#u797
{
	width: 182px;
	padding-bottom: 25px;
}

#u797:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u797:active
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u797.MuseMenuActive
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u800-4
{
	width: 67px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 57px;
}

#u797:hover #u800-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u797:active #u800-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u797.MuseMenuActive #u800-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}
*/
#slideshowu534
{
	z-index: 91;
	width: 0.01px;
	height: 359px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-top: 12px;
}

#u538
{
	position: absolute;
	width: 920px;
	height: 359px;
	background-color: transparent;
}

#u538popup
{
	z-index: 92;
}

#u601
{
	z-index: 93;
	width: 920px;
	height: 359px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3598
{
	z-index: 95;
	width: 920px;
	height: 359px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3598_clip
{
	overflow: hidden;
	width: 920px;
	height: 359px;
}

#u3598_img
{
	margin-top: -37px;
	margin-bottom: -38px;
}

#u3607
{
	z-index: 97;
	width: 920px;
	height: 359px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu611-4
{
	width: 0.01px;
	margin-top: 57px;
}

#u611-4
{
	z-index: 99;
	width: 294px;
	min-height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 35px;
	padding-right: 5px;
	color: #545554;
	line-height: 28px;
	font-size: 23px;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u736-4
{
	z-index: 107;
	width: 294px;
	min-height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 35px;
	padding-right: 5px;
	color: #545554;
	line-height: 28px;
	font-size: 23px;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 311px;
}

#u733-4
{
	z-index: 103;
	width: 294px;
	min-height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 35px;
	padding-right: 5px;
	color: #545554;
	line-height: 28px;
	font-size: 23px;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 621px;
}

#pu973
{
	width: 0.01px;
}

#u973
{
	z-index: 123;
	width: 299px;
	height: 142px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/the%20program001.jpg") no-repeat center center;
	background-size: cover;
}

#u981
{
	z-index: 124;
	width: 299px;
	height: 142px;
	position: relative;
	margin-right: -10000px;
	left: 311px;
	background: transparent url("../images/the%20curriculum002.jpg") no-repeat center center;
	background-size: cover;
}

#u983
{
	z-index: 125;
	width: 299px;
	height: 142px;
	position: relative;
	margin-right: -10000px;
	left: 621px;
	background: transparent url("../images/stock_laptop-u983-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu729-4
{
	width: 0.01px;
	margin-top: 10px;
}

#u729-4
{
	z-index: 111;
	width: 294px;
	min-height: 144px;
	border-style: solid;
	border-color: #FF8A20;
	background-color: transparent;
	padding-top: 20px;
	padding-right: 5px;
	padding-bottom: 5px;
	line-height: 18px;
	font-size: 15px;
	color: #545554;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 0px;
}

#u737-4
{
	z-index: 119;
	width: 294px;
	min-height: 144px;
	border-style: solid;
	border-color: #FF8A20;
	background-color: transparent;
	padding-top: 20px;
	padding-right: 5px;
	padding-bottom: 5px;
	line-height: 18px;
	font-size: 15px;
	color: #545554;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 311px;
	border-width: 1px 0px 0px;
}

#u732-4
{
	z-index: 115;
	width: 294px;
	min-height: 144px;
	border-style: solid;
	border-color: #FF8A20;
	background-color: transparent;
	padding-top: 20px;
	padding-right: 5px;
	padding-bottom: 5px;
	line-height: 18px;
	font-size: 15px;
	color: #545554;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 621px;
	border-width: 1px 0px 0px;
}

#u1062-6
{
	z-index: 130;
	width: 281px;
	min-height: 40px;
	padding-right: 18px;
	text-align: right;
	color: #FF8A20;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 621px;
	position: relative;
	background: transparent url("../images/more_bullet.gif") no-repeat right center;
}

#u1062-6:hover
{
	background-repeat: no-repeat;
	background-position: right center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 281px;
	margin: 0px 0px 0px 621px;
}

#u1062-6:active
{
	background-repeat: no-repeat;
	background-position: right center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 281px;
	margin: 0px 0px 0px 621px;
}

#u1062-6:hover p
{
	color: #FF8A20;
	visibility: inherit;
}

#u3514-6
{
	z-index: 136;
	width: 281px;
	min-height: 40px;
	padding-right: 18px;
	text-align: right;
	color: #FF8A20;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 621px;
	margin-top: 11px;
	position: relative;
	background: transparent url("../images/more_bullet.gif") no-repeat right center;
}

#u3514-6:hover
{
	background-repeat: no-repeat;
	background-position: right center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 281px;
	margin: 11px 0px 0px 621px;
}

#u3514-6:active
{
	background-repeat: no-repeat;
	background-position: right center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 281px;
	margin: 11px 0px 0px 621px;
}

#u3514-6:hover p
{
	color: #FF8A20;
	visibility: inherit;
}

#u1062-6:active p,#u3514-6:active p
{
	color: #545554;
	visibility: inherit;
}

#u997-4
{
	z-index: 126;
	width: 904px;
	min-height: 30px;
	border-style: solid;
	border-color: #FF8A20;
	background-color: transparent;
	text-align: center;
	font-size: 21px;
	letter-spacing: 1px;
	line-height: 25px;
	color: #545554;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 35px;
	position: relative;
	padding: 14px 8px 8px;
	border-width: 1px 0px;
}

#u1171-33
{
	z-index: 142;
	width: 884px;
	min-height: 286px;
	background-color: transparent;
	padding-top: 17px;
	padding-right: 36px;
	line-height: 18px;
	font-size: 15px;
	color: #545554;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1171-31
{
	counter-reset: list0;
}

#u1171-31 > li:before
{
	counter-increment: list0;
	content:  counter(list0, upper-roman) '.';
}

#u1171-31 .list1
{
	counter-reset: list1;
}

#u1171-31 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u1171-31 .list2
{
	counter-reset: list2;
}

#u1171-31 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u1171-31 .list3
{
	counter-reset: list3;
}

#u1171-31 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u1171-31 .list4
{
	counter-reset: list4;
}

#u1171-31 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u1171-31 .list5
{
	counter-reset: list5;
}

#u1171-31 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u1171-31 .list6
{
	counter-reset: list6;
}

#u1171-31 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u1171-31 .list7
{
	counter-reset: list7;
}

#u1171-31 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u1171-31 .list8
{
	counter-reset: list8;
}

#u1171-31 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u1171,#u1171-9,#u1171-17,#u1171-25
{
	font-weight: 700;
}

#u110
{
	z-index: 2;
	width: 920px;
	margin-top: 20px;
}

#u116-20
{
	z-index: 3;
	width: 491px;
	min-height: 59px;
	padding-left: 19px;
	padding-top: 27px;
	margin-right: -10000px;
	margin-top: -1px;
}

#menuu743
{
	z-index: 67;
	width: 318px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 602px;
}

#u744
{
	width: 61px;
	min-height: 86px;
	margin-right: -10000px;
}

#u745
{
	width: 61px;
	padding-bottom: 72px;
}

#u745:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u745:active
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u745.MuseMenuActive
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u748-4
{
	width: 38px;
	min-height: 14px;
	margin-right: -10000px;
	top: 36px;
	left: 11px;
}

#u745:hover #u748-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u745:active #u748-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u745.MuseMenuActive #u748-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u779
{
	width: 114px;
	min-height: 86px;
	margin-right: -10000px;
	left: 63px;
}

#u780
{
	width: 114px;
	padding-bottom: 72px;
}

#u780:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u780:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u780.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u782-4
{
	width: 91px;
	min-height: 14px;
	margin-right: -10000px;
	top: 36px;
	left: 11px;
}

#u780:hover #u782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u780:active #u782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u780.MuseMenuActive #u782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u786
{
	width: 139px;
	min-height: 86px;
	margin-right: -10000px;
	left: 179px;
}

#u787
{
	width: 139px;
	padding-bottom: 72px;
}

#u787:hover
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u787:active
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u787.MuseMenuActive
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u790-4
{
	width: 116px;
	min-height: 14px;
	margin-right: -10000px;
	top: 36px;
	left: 11px;
}

#u787:hover #u790-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u787:active #u790-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u787.MuseMenuActive #u790-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
}

