.version.sign_in /* version checker */
{
	color: #000005;
	background-color: #7978D3;
}

.html
{
	background: #FFFFFF url("../images/bg_body.png") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 683px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-left: 20px;
	padding-top: 4px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

/*#u1008-4
{
	z-index: 86;
	width: 167px;
	min-height: 21px;
	margin-left: 753px;
}

#u1008-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 167px;
	margin: 0px 0px 0px 753px;
}*/

#pu3757
{
	width: 0.01px;
	margin-top: -5px;
}

#u3757
{
	z-index: 90;
	width: 450px;
	height: 104px;
	margin-right: -10000px;
}

/*#u3757:hover
{
	width: 318px;
	height: 104px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}*/

#u3757:active
{
	/*width: 450px;
	height: 104px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;*/
}

/*#menuu686
{
	z-index: 54;
	width: 144px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 774px;
}

#u687
{
	width: 48px;
	min-height: 25px;
	margin-right: -10000px;
}

#u688
{
	width: 48px;
	padding-bottom: 11px;
}

#u688:hover
{
	width: 48px;
	min-height: 0px;
	margin: 0px;
}

#u688:active
{
	width: 48px;
	min-height: 0px;
	margin: 0px;
}

#u688.MuseMenuActive
{
	width: 48px;
	min-height: 0px;
	margin: 0px;
}

#u691-4
{
	width: 37px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 5px;
}

#u688:hover #u691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u688:active #u691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u688.MuseMenuActive #u691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u722
{
	width: 94px;
	min-height: 25px;
	margin-right: -10000px;
	left: 50px;
}

#u723
{
	width: 94px;
	padding-bottom: 11px;
}

#u723:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u723:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u723.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u726-4
{
	width: 83px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 5px;
}

#u723:hover #u726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u723:active #u726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u723.MuseMenuActive #u726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#menuu125
{
	z-index: 23;
	width: 920px;
}

#u126
{
	width: 160px;
	min-height: 42px;
	margin-right: -10000px;
}

#u127
{
	width: 160px;
	padding-bottom: 25px;
}

#u127:hover
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u127:active
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u127.MuseMenuActive
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u130-4
{
	width: 44px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 58px;
}

#u127:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u127:active #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u127.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u815
{
	width: 208px;
	min-height: 42px;
	margin-right: -10000px;
	left: 162px;
}

#u818
{
	width: 208px;
	padding-bottom: 25px;
}

#u818:hover
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u818:active
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u818.MuseMenuActive
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u821-4
{
	width: 92px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 58px;
}

#u818:hover #u821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u818:active #u821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u818.MuseMenuActive #u821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 197px;
	min-height: 42px;
	margin-right: -10000px;
	left: 372px;
}

#u811
{
	width: 197px;
	padding-bottom: 25px;
}

#u811:hover
{
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u811:active
{
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u811.MuseMenuActive
{
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u814-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 57px;
}

#u811:hover #u814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u811:active #u814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u811.MuseMenuActive #u814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u3373
{
	width: 165px;
	min-height: 42px;
	margin-right: -10000px;
	left: 571px;
}

#u3374
{
	width: 165px;
	padding-bottom: 25px;
}

#u3374:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u3374:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u3374.MuseMenuActive
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u3377-4
{
	width: 50px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 57px;
}

#u3374:hover #u3377-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3374:active #u3377-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3374.MuseMenuActive #u3377-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u794
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 738px;
}

#u797
{
	width: 182px;
	padding-bottom: 25px;
}

#u797:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u797:active
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u797.MuseMenuActive
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u800-4
{
	width: 67px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 57px;
}

#u797:hover #u800-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u797:active #u800-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u797.MuseMenuActive #u800-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}*/

#u3136-4
{
	z-index: 91;
	width: 904px;
	min-height: 30px;
	border-style: solid;
	border-color: #E36E10;
	background-color: transparent;
	text-align: center;
	font-size: 19px;
	letter-spacing: 1px;
	line-height: 23px;
	color: #545554;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	padding: 14px 8px 8px;
	border-width: 1px 0px;
	margin-top: 12px;
}

#u3541-4
{
	z-index: 95;
	width: 896px;
	min-height: 414px;
	background-color: transparent;
	padding: 12px;
	text-align: center;
	font-size: 12px;
	letter-spacing: 3px;
	line-height: 14px;
	color: #7F7F7F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: italic;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u110
{
	z-index: 2;
	width: 920px;
	margin-top: 20px;
}

#u116-20
{
	z-index: 3;
	width: 491px;
	min-height: 59px;
	padding-left: 19px;
	padding-top: 27px;
	margin-right: -10000px;
	margin-top: -1px;
}

#menuu743
{
	z-index: 67;
	width: 318px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 602px;
}

#u744
{
	width: 61px;
	min-height: 86px;
	margin-right: -10000px;
}

#u745
{
	width: 61px;
	padding-bottom: 72px;
}

#u745:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u745:active
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u745.MuseMenuActive
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u748-4
{
	width: 38px;
	min-height: 14px;
	margin-right: -10000px;
	top: 36px;
	left: 11px;
}

#u745:hover #u748-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u745:active #u748-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u745.MuseMenuActive #u748-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u779
{
	width: 114px;
	min-height: 86px;
	margin-right: -10000px;
	left: 63px;
}

#u780
{
	width: 114px;
	padding-bottom: 72px;
}

#u780:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u780:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u780.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u782-4
{
	width: 91px;
	min-height: 14px;
	margin-right: -10000px;
	top: 36px;
	left: 11px;
}

#u780:hover #u782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u780:active #u782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u780.MuseMenuActive #u782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u786
{
	width: 139px;
	min-height: 86px;
	margin-right: -10000px;
	left: 179px;
}

#u787
{
	width: 139px;
	padding-bottom: 72px;
}

#u787:hover
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u787:active
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u787.MuseMenuActive
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u790-4
{
	width: 116px;
	min-height: 14px;
	margin-right: -10000px;
	top: 36px;
	left: 11px;
}

#u787:hover #u790-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u787:active #u790-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u787.MuseMenuActive #u790-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
}

