#u3631-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3644-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3623-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3649-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3635-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3726-21,#u3733-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3746-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3739-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3824-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3827-2,#u3827-4,#u3827-6,#u3827-7,#u3827-8,#u3827-12,#u3827-13,#u3827-18
{
	font-family: ubuntu-n3, sans-serif;
}

