#u3631-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3644-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3623-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3649-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3635-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3726-21,#u3733-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3746-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3739-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3803-4,#u3812-4,#u3811-4,#u3821-4,#u3813-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3815-5,#u3815-8,#u3814-5,#u3814-8,#u3822-5,#u3816-8
{
	font-family: abel-n4, sans-serif;
}

#u3815-2,#u3815-3,#u3815-6,#u3818-10,#u3814-2,#u3814-3,#u3814-6,#u3817-10,#u3822-2,#u3822-3,#u3823-10,#u3816,#u3816-4,#u3819-8
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u3804-10,#u3805-4,#u3820-4,#u3806-4
{
	font-family: ubuntu-n3, sans-serif;
}

