#u3631-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3644-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3623-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3649-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3635-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3726-21,#u3733-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3746-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3739-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3870-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3872-4,#u3871-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3884-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3918-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3911-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3876-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3927-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3890-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3908-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3898-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3930-10
{
	font-family: ubuntu-n4, sans-serif;
}

