#u3631-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3644-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3623-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3649-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3635-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3726-21,#u3733-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3746-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3739-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3833-4,#u3855-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3861-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3867-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3844-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u3839-4
{
	font-family: ubuntu-n5, sans-serif;
}

