#u3631-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3644-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3623-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3649-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3635-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3726-21,#u3733-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3746-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3739-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3784-4,#u3786-4,#u3785-4,#u3794-6
{
	font-family: abel-n4, sans-serif;
}

#u3795-6
{
	font-family: abel-n4, sans-serif;
}

#u3793-4
{
	font-family: abel-n4, sans-serif;
}

#u3787-4,#u3789-4,#u3788-4,#u3796-33
{
	font-family: ubuntu-n4, sans-serif;
}

