.version.saint_gall_level_2 /* version checker */
{
	color: #0000FE;
	background-color: #04ADD8;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 690px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -63px;
	width: 0.01px;
}

#u3626
{
	width: 52px;
	min-height: 67px;
	margin-right: -10000px;
}

#u3629
{
	width: 52px;
	padding-bottom: 49px;
}

#u3629:hover
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u3629:active
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u3629.MuseMenuActive
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u3631-4
{
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	top: 24px;
	left: 4px;
}

#u3629:hover #u3631-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3629:active #u3631-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3629.MuseMenuActive #u3631-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3640
{
	width: 99px;
	min-height: 67px;
	margin-right: -10000px;
	left: 54px;
}

#u3641
{
	width: 99px;
	padding-bottom: 49px;
}

#u3641:hover
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u3641:active
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u3641.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u3644-4
{
	width: 90px;
	min-height: 17px;
	margin-right: -10000px;
	top: 24px;
	left: 4px;
}

#u3641:hover #u3644-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3641:active #u3644-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3641.MuseMenuActive #u3644-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3619
{
	width: 90px;
	min-height: 67px;
	margin-right: -10000px;
	left: 155px;
}

#u3620
{
	width: 90px;
	padding-bottom: 49px;
}

#u3620:hover
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u3620:active
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u3620.MuseMenuActive
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u3623-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 24px;
	left: 4px;
}

#u3620:hover #u3623-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u3620:active #u3623-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u3620.MuseMenuActive #u3623-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u3647
{
	width: 58px;
	min-height: 67px;
	margin-right: -10000px;
	left: 247px;
}

#u3648
{
	width: 58px;
	padding-bottom: 49px;
}

#u3648:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u3648:active
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u3648.MuseMenuActive
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u3649-4
{
	width: 49px;
	min-height: 17px;
	margin-right: -10000px;
	top: 24px;
	left: 4px;
}

#u3648:hover #u3649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u3648:active #u3649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u3648.MuseMenuActive #u3649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u3633
{
	width: 73px;
	min-height: 67px;
	margin-right: -10000px;
	left: 307px;
}

#u3634
{
	width: 73px;
	padding-bottom: 49px;
}

#u3634:hover
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u3634:active
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u3634.MuseMenuActive
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u3635-4
{
	width: 65px;
	min-height: 17px;
	margin-right: -10000px;
	top: 24px;
	left: 4px;
}

#u3634:hover #u3635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u3634:active #u3635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u3634.MuseMenuActive #u3635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#menuu3618,#menuu3618-bw
{
	z-index: 2;
	min-height: 67px;
}

#u3749
{
	z-index: 73;
	height: 86px;
}

#u3749:active
{
	height: 86px;
	min-height: 0px;
	margin: 0px;
}

#u3749-bw
{
	z-index: 73;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 86px;
}

#u3726-21
{
	z-index: 33;
	min-height: 66px;
	padding-left: 19px;
	padding-top: 15px;
}

#u3726-21-bw
{
	z-index: 33;
	min-height: 66px;
	margin-top: 467px;
}

#u3728
{
	width: 82px;
	min-height: 53px;
	margin-right: -10000px;
}

#u3731
{
	width: 82px;
	padding-bottom: 39px;
}

#u3731:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3731:active
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3731.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3733-4
{
	width: 37px;
	min-height: 14px;
	margin-right: -10000px;
	top: 19px;
	left: 22px;
}

#u3731:hover #u3733-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u3731:active #u3733-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u3731.MuseMenuActive #u3733-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u3742
{
	width: 134px;
	min-height: 53px;
	margin-right: -10000px;
	left: 84px;
}

#u3745
{
	width: 134px;
	padding-bottom: 39px;
}

#u3745:hover
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u3745:active
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u3745.MuseMenuActive
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u3746-4
{
	width: 89px;
	min-height: 14px;
	margin-right: -10000px;
	top: 19px;
	left: 22px;
}

#u3745:hover #u3746-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u3745:active #u3746-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u3745.MuseMenuActive #u3746-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u3735
{
	width: 160px;
	min-height: 53px;
	margin-right: -10000px;
	left: 220px;
}

#u3738
{
	width: 160px;
	padding-bottom: 39px;
}

#u3738:hover
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u3738:active
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u3738.MuseMenuActive
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u3739-4
{
	width: 115px;
	min-height: 14px;
	margin-right: -10000px;
	top: 19px;
	left: 22px;
}

#u3738:hover #u3739-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u3738:active #u3739-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u3738.MuseMenuActive #u3739-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#menuu3727,#menuu3727-bw
{
	z-index: 54;
	min-height: 53px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

